.my-info-section {
    width: 33%;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.my-profession {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 35px;
}

.my-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px;
}

.my-location,
.my-workstyle {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    background: #2F80ED;
    padding: 5px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-workstyle {
    margin-bottom: 100px;
}

.my-description {
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 15px;
}

.my-skills-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 15px;
}

.my-skill-list {
    list-style: disc;
    padding-left: 15px;
}

.my-skills-item {
    font-size: 16px;
    line-height: 24px;
    color: #2F80ED;
}

.my-skills-text {
color: #4F4F4F;
}
